<footer class="text-center mt-4 bg-dark">
	<div class="container">
		<div class="row my-2">
			<div class="col p-2">
				<i class="far fa-fw fa-copyright"></i> 2020
			</div>
			<div class="col p-2">
				created by <b class="text-capitalize">mohssine aboutaj</b>
			</div>
		</div>
	</div>
</footer>
