@import '../../node_modules/bootswatch/dist/darkly/variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

.btn {
  text-transform: uppercase;
}
